@font-face {
    font-family: pixel_font;
    src: url('fonts/PressStart2P-Regular.ttf');
}


@font-face {
    font-family: code_font;
    src: url('fonts/SourceCodePro-Bold.ttf');
}


html {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;

    background-color: black;
}


.picture_div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    width: 40%;
    height: 100vh;

    right: 0;

    border-inline-start: solid 15px #c0097a;

    background-color: black;

    z-index: 1000;

    transition: 0.5s;
}


.picture {
    width: 50vh;
    height: 50vh;

    border-radius: 50%;

    background-image: url('medias/man.jpg');
    background-size: cover;
}


.nav_buttons_div {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    bottom: 0;

    height: 30vh;
    width: 60%;

    background-color: black;

    transition: 0.5s;

    z-index: 500;
}


.previous_button_div {
    display: flex;

    height: 0%;
    width: 100%;

    justify-content: center;
    align-items: center;

    overflow: hidden;

    transition: 0.5s;
}


.previous_button {
    height: fit-content;
    width: fit-content;

    font-size: 2em;
    font-family: pixel_font;

    color: #c0097a;

    border: none;
    background-color: transparent;
}


.previous_button:hover {
    color: white;
}


.scroll_button_div {
    display: flex;

    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;

    transition: 0.5s;
}


.scroll_button {
    height: fit-content;
    width: fit-content;

    font-size: 2em;
    font-family: pixel_font;

    color: #c0097a;

    border: none;
    background-color: transparent;
}


.scroll_button:hover {
    color: white;
}


.main_div {
    width: 100%;
}


.welcome_text_div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 70vh;

    transition: 0.5s;

    margin: 0;
}


.welcome_text {
    text-align: center;

    font-size: 4em;
    font-family: code_font;

    color: white;
}


.about_me_div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70vh;

    background-color: #c0097a;

    margin: 0;
}


.about_me_content_div {
    width: 80%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;

    overflow: hidden;
}


.about_me_animation_square {
    z-index: 200;

    width: 200vw;
    height: 20vh;

    background-color: rgb(119, 228, 146);

    transform: rotate(-45deg);

    margin-left: -100vw;

    transition: 0.75s;
}


.about_me_title {
    position: absolute;
    font-family: code_font;
    font-size: 3em;
    color: #c0097a;

    text-align: center;

    width: 100%;
    height: 20%;

    margin-bottom: 0;
}


.about_me_text {
    width: 80%;
    height: 80%;

    text-align: center;

    font-family: code_font;
    font-size: 1.5em;

    margin: 0;
}


.skills_div {
    display: flex;

    flex-direction: column;

    width: 100%;
    height: 70vh;

    background-color: white;

    margin: 0;
}


.skills_title {
    display: flex;
    font-family: code_font;
    color: #c0097a;
    font-size: 3em;
    margin: 0;

    width: 100%;
    height: 20%;

    align-items: center;
    justify-content: center;
}


.skills_content_div {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 80%;

    align-items:center ;
    justify-content: space-around;
}


.python_div {
    display: flex;
    flex-direction: row;

    border: solid 3px #c0097a;

    border-radius: 30px;
}


.python_logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
}


.python_logo {
    width: 80%;
    height: 80%;
}


.python_content_div {
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: none;

    overflow: hidden;
    width: 0;

    transition: 0.5s;
}


.python_content {
    color: #c0097a;
    font-family: code_font;
}


.python_button {
    height: 100%;
    width: 100%;

    border: none;

    font-family: code_font;
    font-size: 2em;

    color: #c0097a;

    background-color: transparent;
}


.python_button:hover {
    color: grey;
}


.html_div {
    display: flex;
    flex-direction: row;

    border: solid 3px #c0097a;

    border-radius: 30px;
}


.html_logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
}


.html_logo {
    width: 80%;
    height: 80%;
}


.html_content_div {
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: none;

    overflow: hidden;
    width: 0;

    transition: 0.5s;
}


.html_content {
    color: #c0097a;
    font-family: code_font;
}


.html_button {
    height: 100%;
    width: 100%;

    border: none;

    font-family: code_font;
    font-size: 2em;

    color: #c0097a;

    background-color: transparent;
}


.html_button:hover {
    color: grey;
}



.empty_div {
    width: 100%;
    height: 30vh;
}
