{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'portfolio/style_home.css' %}"/>
    <title>Jules CAMUZET</title>
</head>
<body>

    <div class="picture_div">
        <div class="picture"></div>
    </div>

    <div class="nav_buttons_div">

        <div class="previous_button_div">
            <button class="previous_button">&lt previous &gt</button>
        </div>
        
        <div class="scroll_button_div">
            <button class="scroll_button">&lt click to scroll &gt</button>
        </div>

    </div>
   
    <div class="main_div">

        <div class="welcome_text_div">
            <h1 class="welcome_text">WELCOME ON MY PORTFOLIO</h1>
        </div>

        <div class="about_me_div">
            
            <div class="about_me_content_div">

                <div class="about_me_animation_square"></div>
                
                <h2 class="about_me_title">ABOUT ME</h2>

                <p class="about_me_text">
                    Hello, my name is Jules and Im a french 20 years old computer science student
                    who likes to make some websites to avoid boredom. Im still a beginner in this 
                    domain but I do everything i can to improve my skills and be able as fast as 
                    possible to make beautifulls websites for people !
                </p>

            </div>

        </div>

        <div class="empty_div"></div>

    </div>

</body>

<script src="{% static 'portfolio/scripts/home_script.js' %}"></script>

</html>